In [1]:
import pandas as pd
import numpy as np

In [2]:
Shotlog=pd.read_csv("C:/Users/trent/OneDrive/Documents/Repositories/NBA-HotHand-Analysis/data/Shotlog_16_17.csv")
Shotlog.head()

,team_previous_shot,player_position,home_game,location_x,opponent_previous_shot,home_team,shot_type,points,away_team,location_y,time,date,shoot_player,time_from_last_shot,quarter,current_shot_outcome
0,NaN,SF,Yes,97.0,SCORED,ATL,Pullup Jump Shot,2,WAS,405.0,1:09,10/27/2016,Kent Bazemore,NaN,1,MISSED
1,MISSED,C,Yes,52.0,SCORED,ATL,Tip Dunk Shot,2,WAS,250.0,1:11,10/27/2016,Dwight Howard,2.0,1,SCORED
2,SCORED,SG,Yes,239.0,MISSED,ATL,Jump Shot,2,WAS,223.0,1:41,10/27/2016,Kyle Korver,30.0,1,SCORED
3,SCORED,PG,Yes,102.0,SCORED,ATL,Pullup Jump Shot,2,WAS,385.0,2:16,10/27/2016,Dennis Schroder,35.0,1,SCORED
4,SCORED,PF,Yes,128.0,MISSED,ATL,Turnaround Jump Shot,2,WAS,265.0,2:40,10/27/2016,Paul Millsap,24.0,1,MISSED

In [3]:
Shotlog.shape

(210072, 16)

In [4]:
Shotlog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210072 entries, 0 to 210071
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   team_previous_shot      207612 non-null  object
 1   player_position         210072 non-null  object
 2   home_game               210072 non-null  object
 3   location_x              209675 non-null  float64
 4   opponent_previous_shot  208462 non-null  object
 5   home_team               210072 non-null  object
 6   shot_type               210072 non-null  object
 7   points                  210072 non-null  int64
 8   away_team               210072 non-null  object
 9   location_y              209675 non-null  float64
 10  time                    210072 non-null  object
 11  date                    210072 non-null  object
 12  shoot_player            210072 non-null  object
 13  time_from_last_shot     200072 non-null  float64
 14  quarter                 210072 non-null  int64
 15  current_shot_outcome    210072 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 25.6+ MB

In [ ]:
# Create dummy variable for whether shot was made or missed
Shotlog['current_shot_hit'] = np.where(Shotlog['current_shot_outcome']=="SCORED", 1, 0)
Shotlog.head()

,team_previous_shot,player_position,home_game,location_x,opponent_previous_shot,home_team,shot_type,points,away_team,location_y,time,date,shoot_player,time_from_last_shot,quarter,current_shot_outcome,current_shot_hit
0,NaN,SF,Yes,97.0,SCORED,ATL,Pullup Jump Shot,2,WAS,405.0,1:09,10/27/2016,Kent Bazemore,NaN,1,MISSED,0
1,MISSED,C,Yes,52.0,SCORED,ATL,Tip Dunk Shot,2,WAS,250.0,1:11,10/27/2016,Dwight Howard,2.0,1,SCORED,1
2,SCORED,SG,Yes,239.0,MISSED,ATL,Jump Shot,2,WAS,223.0,1:41,10/27/2016,Kyle Korver,30.0,1,SCORED,1
3,SCORED,PG,Yes,102.0,SCORED,ATL,Pullup Jump Shot,2,WAS,385.0,2:16,10/27/2016,Dennis Schroder,35.0,1,SCORED,1
4,SCORED,PF,Yes,128.0,MISSED,ATL,Turnaround Jump Shot,2,WAS,265.0,2:40,10/27/2016,Paul Millsap,24.0,1,MISSED,0

In [6]:
# Change date column to datetime format
import datetime as dt
Shotlog['date']=pd.to_datetime(Shotlog['date'])

In [7]:
Shotlog['time'] = pd.to_timedelta('00:'+ Shotlog['time'])
Shotlog['time'].describe()

count                       210072
mean     0 days 00:06:08.994773220
std      0 days 00:03:28.346263848
min                0 days 00:00:00
25%                0 days 00:03:08
50%                0 days 00:06:06
75%                0 days 00:09:10
max                0 days 00:12:00
Name: time, dtype: object

Consecutive shots by the same player

In [8]:
Shotlog['lag_shot_hit']=Shotlog.sort_values(by=['quarter','time'], ascending=[True, True]).groupby(['shoot_player','date'])['current_shot_hit'].shift(1)
Shotlog.head()

,team_previous_shot,player_position,home_game,location_x,opponent_previous_shot,home_team,shot_type,points,away_team,location_y,time,date,shoot_player,time_from_last_shot,quarter,current_shot_outcome,current_shot_hit,lag_shot_hit
0,NaN,SF,Yes,97.0,SCORED,ATL,Pullup Jump Shot,2,WAS,405.0,0 days 00:01:09,2016-10-27,Kent Bazemore,NaN,1,MISSED,0,NaN
1,MISSED,C,Yes,52.0,SCORED,ATL,Tip Dunk Shot,2,WAS,250.0,0 days 00:01:11,2016-10-27,Dwight Howard,2.0,1,SCORED,1,NaN
2,SCORED,SG,Yes,239.0,MISSED,ATL,Jump Shot,2,WAS,223.0,0 days 00:01:41,2016-10-27,Kyle Korver,30.0,1,SCORED,1,NaN
3,SCORED,PG,Yes,102.0,SCORED,ATL,Pullup Jump Shot,2,WAS,385.0,0 days 00:02:16,2016-10-27,Dennis Schroder,35.0,1,SCORED,1,NaN
4,SCORED,PF,Yes,128.0,MISSED,ATL,Turnaround Jump Shot,2,WAS,265.0,0 days 00:02:40,2016-10-27,Paul Millsap,24.0,1,MISSED,0,NaN

In [9]:
Shotlog.sort_values(by=['shoot_player', 'date', 'quarter', 'time'], ascending=[True, True, True, True])

,team_previous_shot,player_position,home_game,location_x,opponent_previous_shot,home_team,shot_type,points,away_team,location_y,time,date,shoot_player,time_from_last_shot,quarter,current_shot_outcome,current_shot_hit,lag_shot_hit
42660,MISSED,C,No,210.0,SCORED,GSW,Jump Shot,2,DAL,269.0,0 days 00:07:23,2016-11-09,A.J. Hammons,43.0,4,SCORED,1,NaN
42661,SCORED,C,No,308.0,SCORED,GSW,Jump Shot,3,DAL,202.0,0 days 00:07:56,2016-11-09,A.J. Hammons,33.0,4,SCORED,1,1.0
42664,MISSED,C,No,167.0,SCORED,GSW,Jump Shot,2,DAL,318.0,0 days 00:09:26,2016-11-09,A.J. Hammons,51.0,4,MISSED,0,1.0
42667,SCORED,C,No,131.0,MISSED,GSW,Jump Shot,2,DAL,337.0,0 days 00:11:46,2016-11-09,A.J. Hammons,62.0,4,MISSED,0,0.0
42668,MISSED,C,No,72.0,MISSED,GSW,Tip Layup Shot,2,DAL,248.0,0 days 00:11:47,2016-11-09,A.J. Hammons,1.0,4,SCORED,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70218,SCORED,C,Yes,58.0,MISSED,GSW,Layup,2,UTA,241.0,0 days 00:11:08,2017-04-10,Zaza Pachulia,47.0,2,SCORED,1,0.0
70255,BLOCKED,C,Yes,866.0,SCORED,GSW,Layup,2,UTA,252.0,0 days 00:10:33,2017-04-10,Zaza Pachulia,5.0,4,MISSED,0,1.0
70264,SCORED,C,Yes,239.0,SCORED,GSW,Jump Shot,2,LAL,272.0,0 days 00:01:41,2017-04-12,Zaza Pachulia,29.0,1,SCORED,1,NaN
70270,MISSED,C,Yes,52.0,SCORED,GSW,Tip Layup Shot,2,LAL,251.0,0 days 00:04:32,2017-04-12,Zaza Pachulia,1.0,1,SCORED,1,1.0
70329,MISSED,C,Yes,241.0,MISSED,GSW,Jump Shot,3,LAL,200.0,0 days 00:12:00,2017-04-12,Zaza Pachulia,25.0,3,MISSED,0,1.0

In [10]:
# Create a dataframe with each player's shooting percentage for the season
Player_Stats=Shotlog.groupby(['shoot_player'])['current_shot_hit'].mean()
Player_Stats=Player_Stats.reset_index()
Player_Stats.head()

     shoot_player  current_shot_hit
0    A.J. Hammons          0.404762
1    Aaron Brooks          0.403333
2    Aaron Gordon          0.454861
3  Aaron Harrison          0.000000
4   Adreian Payne          0.425926

In [11]:
# Rename column for clarity
Player_Stats.rename(columns={'current_shot_hit':'average_hit'}, inplace=True)

In [12]:
Shotlog=pd.merge(Shotlog, Player_Stats, on=['shoot_player'])
Shotlog.head()

,team_previous_shot,player_position,home_game,location_x,opponent_previous_shot,home_team,shot_type,points,away_team,location_y,time,date,shoot_player,time_from_last_shot,quarter,current_shot_outcome,current_shot_hit,lag_shot_hit,average_hit
0,NaN,SF,Yes,97.0,SCORED,ATL,Pullup Jump Shot,2,WAS,405.0,0 days 00:01:09,2016-10-27,Kent Bazemore,NaN,1,MISSED,0,NaN,0.408587
1,MISSED,C,Yes,52.0,SCORED,ATL,Tip Dunk Shot,2,WAS,250.0,0 days 00:01:11,2016-10-27,Dwight Howard,2.0,1,SCORED,1,NaN,0.631922
2,SCORED,SG,Yes,239.0,MISSED,ATL,Jump Shot,2,WAS,223.0,0 days 00:01:41,2016-10-27,Kyle Korver,30.0,1,SCORED,1,NaN,0.464981
3,SCORED,PG,Yes,102.0,SCORED,ATL,Pullup Jump Shot,2,WAS,385.0,0 days 00:02:16,2016-10-27,Dennis Schroder,35.0,1,SCORED,1,NaN,0.451029
4,SCORED,PF,Yes,128.0,MISSED,ATL,Turnaround Jump Shot,2,WAS,265.0,0 days 00:02:40,2016-10-27,Paul Millsap,24.0,1,MISSED,0,NaN,0.442387

In [13]:
# Variable for number of shots taken by each player in the season
Player_Shots=Shotlog.groupby(['shoot_player']).size().reset_index(name='shot_count')

In [14]:
Player_Shots.sort_values(by=['shot_count'], ascending=[False]).head()

          shoot_player  shot_count
402  Russell Westbrook        1940
25      Andrew Wiggins        1568
106      DeMar DeRozan        1545
193       James Harden        1532
28       Anthony Davis        1525

In [15]:
# Variable for number of shots taken by each player in each game
Player_Game=Shotlog.groupby(['shoot_player','date']).size().reset_index(name='shot_per_game')
Player_Game.head()

   shoot_player       date  shot_per_game
0  A.J. Hammons 2016-11-09              5
1  A.J. Hammons 2016-11-23              1
2  A.J. Hammons 2016-11-25              1
3  A.J. Hammons 2016-12-03              2
4  A.J. Hammons 2016-12-07              2

In [16]:
# Merge new variables into Shotlog dataframe
Shotlog=pd.merge(Shotlog, Player_Shots, on=['shoot_player'])
Shotlog=pd.merge(Shotlog, Player_Game, on=['shoot_player','date'])
display(Shotlog)

,team_previous_shot,player_position,home_game,location_x,opponent_previous_shot,home_team,shot_type,points,away_team,location_y,...,date,shoot_player,time_from_last_shot,quarter,current_shot_outcome,current_shot_hit,lag_shot_hit,average_hit,shot_count,shot_per_game
0,NaN,SF,Yes,97.0,SCORED,ATL,Pullup Jump Shot,2,WAS,405.0,...,2016-10-27,Kent Bazemore,NaN,1,MISSED,0,NaN,0.408587,722,7
1,MISSED,C,Yes,52.0,SCORED,ATL,Tip Dunk Shot,2,WAS,250.0,...,2016-10-27,Dwight Howard,2.0,1,SCORED,1,NaN,0.631922,614,9
2,SCORED,SG,Yes,239.0,MISSED,ATL,Jump Shot,2,WAS,223.0,...,2016-10-27,Kyle Korver,30.0,1,SCORED,1,NaN,0.464981,514,4
3,SCORED,PG,Yes,102.0,SCORED,ATL,Pullup Jump Shot,2,WAS,385.0,...,2016-10-27,Dennis Schroder,35.0,1,SCORED,1,NaN,0.451029,1215,12
4,SCORED,PF,Yes,128.0,MISSED,ATL,Turnaround Jump Shot,2,WAS,265.0,...,2016-10-27,Paul Millsap,24.0,1,MISSED,0,NaN,0.442387,972,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210067,SCORED,F,No,58.0,MISSED,MIA,Jump Shot,2,WAS,153.0,...,2017-04-12,Daniel Ochefu,39.0,4,SCORED,1,1.0,0.444444,27,6
210068,SCORED,F,No,52.0,SCORED,MIA,Dunk,2,WAS,250.0,...,2017-04-12,Daniel Ochefu,33.0,4,SCORED,1,1.0,0.444444,27,6
210069,SCORED,F,No,171.0,SCORED,MIA,Jump Shot,2,WAS,149.0,...,2017-04-12,Daniel Ochefu,29.0,4,MISSED,0,1.0,0.444444,27,6
210070,MISSED,PF,No,285.0,SCORED,MIA,Jump Shot,3,WAS,334.0,...,2017-04-12,Chris McCullough,73.0,4,MISSED,0,NaN,0.500000,32,1
210071,MISSED,PG,No,195.0,MISSED,MIA,Jump Shot,3,WAS,455.0,...,2017-04-12,Trey Burke,77.0,4,SCORED,1,1.0,0.456693,254,13

In [17]:
Shotlog.sort_values(by=['shoot_player', 'date', 'quarter', 'time'], ascending=[True, True, True, True])

,team_previous_shot,player_position,home_game,location_x,opponent_previous_shot,home_team,shot_type,points,away_team,location_y,...,date,shoot_player,time_from_last_shot,quarter,current_shot_outcome,current_shot_hit,lag_shot_hit,average_hit,shot_count,shot_per_game
42660,MISSED,C,No,210.0,SCORED,GSW,Jump Shot,2,DAL,269.0,...,2016-11-09,A.J. Hammons,43.0,4,SCORED,1,NaN,0.404762,42,5
42661,SCORED,C,No,308.0,SCORED,GSW,Jump Shot,3,DAL,202.0,...,2016-11-09,A.J. Hammons,33.0,4,SCORED,1,1.0,0.404762,42,5
42664,MISSED,C,No,167.0,SCORED,GSW,Jump Shot,2,DAL,318.0,...,2016-11-09,A.J. Hammons,51.0,4,MISSED,0,1.0,0.404762,42,5
42667,SCORED,C,No,131.0,MISSED,GSW,Jump Shot,2,DAL,337.0,...,2016-11-09,A.J. Hammons,62.0,4,MISSED,0,0.0,0.404762,42,5
42668,MISSED,C,No,72.0,MISSED,GSW,Tip Layup Shot,2,DAL,248.0,...,2016-11-09,A.J. Hammons,1.0,4,SCORED,1,0.0,0.404762,42,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70218,SCORED,C,Yes,58.0,MISSED,GSW,Layup,2,UTA,241.0,...,2017-04-10,Zaza Pachulia,47.0,2,SCORED,1,0.0,0.535948,306,5
70255,BLOCKED,C,Yes,866.0,SCORED,GSW,Layup,2,UTA,252.0,...,2017-04-10,Zaza Pachulia,5.0,4,MISSED,0,1.0,0.535948,306,5
70264,SCORED,C,Yes,239.0,SCORED,GSW,Jump Shot,2,LAL,272.0,...,2017-04-12,Zaza Pachulia,29.0,1,SCORED,1,NaN,0.535948,306,3
70270,MISSED,C,Yes,52.0,SCORED,GSW,Tip Layup Shot,2,LAL,251.0,...,2017-04-12,Zaza Pachulia,1.0,1,SCORED,1,1.0,0.535948,306,3
70329,MISSED,C,Yes,241.0,MISSED,GSW,Jump Shot,3,LAL,200.0,...,2017-04-12,Zaza Pachulia,25.0,3,MISSED,0,1.0,0.535948,306,3

In [18]:
# Change data types of points and quarter to 'object' for easier handling
Shotlog['points'] = Shotlog['points'].astype(object)
Shotlog['quarter'] = Shotlog['quarter'].astype(object)

In [19]:
Shotlog=Shotlog[pd.notnull(Shotlog["lag_shot_hit"])]

In [20]:
Shotlog.shape

(185052, 21)

In [21]:
Shotlog.to_csv("C:/Users/trent/OneDrive/Documents/Repositories/NBA-HotHand-Analysis/data/Shotlog1.csv", index=False)
Player_Stats.to_csv("C:/Users/trent/OneDrive/Documents/Repositories/NBA-HotHand-Analysis/data/Player_Stats1.csv", index=False)
Player_Shots.to_csv("C:/Users/trent/OneDrive/Documents/Repositories/NBA-HotHand-Analysis/data/Player_Shots1.csv", index=False)
Player_Game.to_csv("C:/Users/trent/OneDrive/Documents/Repositories/NBA-HotHand-Analysis/data/Player_Game1.csv", index=False)